[submodule "dep/SFML"]
	path = dep/SFML
	url = https://github.com/SFML/SFML.git
[submodule "dep/fltk"]
	path = dep/fltk
	url = https://github.com/fltk/fltk.git
[submodule "dep/benchmark"]
	path = dep/benchmark
	url = https://github.com/google/benchmark.git
